/Tarefa_1/Relatório Tarefa 1.aux
/Tarefa_1/Relatório Tarefa 1.log
/Tarefa_1/Relatório Tarefa 1.synctex.gz
/Tarefa_1/teste
/Tarefa_1/Tarefa_1.zip

/Tarefa_2/Relatório Tarefa 2.aux
/Tarefa_2/Relatório Tarefa 2.log
/Tarefa_2/Relatório Tarefa 2.synctex.gz
/Tarefa_2/teste
/Tarefa_2/Tarefa_2.zip

/Tarefa_3/Relatório Tarefa 3.aux
/Tarefa_3/Relatório Tarefa 3.log
/Tarefa_3/Relatório Tarefa 3.synctex.gz
/Tarefa_3/Relatório Tarefa 3.fdb_latexmk
/Tarefa_3/Relatório Tarefa 3.fls
/Tarefa_3/teste
/Tarefa_3/Tarefa_3.zip

/Tarefa_4/Relatório Tarefa 4.aux
/Tarefa_4/Relatório Tarefa 4.log
/Tarefa_4/Relatório Tarefa 4.synctex.gz
/Tarefa_4/Tarefa_4.zip
/Tarefa_4/memoryBound
/Tarefa_4/cpuBound

/Tarefa_5/Relatório Tarefa 5.aux
/Tarefa_5/Relatório Tarefa 5.log
/Tarefa_5/Relatório Tarefa 5.synctex.gz
/Tarefa_5/Tarefa_5.zip
/Tarefa_5/sequential
/Tarefa_5/paralleled

/Tarefa_6/Relatório Tarefa 6.aux
/Tarefa_6/Relatório Tarefa 6.log
/Tarefa_6/Relatório Tarefa 6.synctex.gz
/Tarefa_6/Tarefa_6.zip
/Tarefa_6/incorreto
/Tarefa_6/correto

/Tarefa_7/Relatório Tarefa 7.aux
/Tarefa_7/Relatório Tarefa 7.log
/Tarefa_7/Relatório Tarefa 7.synctex.gz
