/Tarefa_1/Relatório Tarefa 1.aux
/Tarefa_1/Relatório Tarefa 1.log
/Tarefa_1/Relatório Tarefa 1.synctex.gz
/Tarefa_1/teste
/Tarefa_1/Tarefa_1.zip

/Tarefa_2/Relatório Tarefa 2.aux
/Tarefa_2/Relatório Tarefa 2.log
/Tarefa_2/Relatório Tarefa 2.synctex.gz
/Tarefa_2/teste
/Tarefa_2/Tarefa_2.zip

/Tarefa_3/Relatório Tarefa 3.aux
/Tarefa_3/Relatório Tarefa 3.log
/Tarefa_3/Relatório Tarefa 3.synctex.gz
/Tarefa_3/teste
/Tarefa_3/Tarefa_3.zip

/Tarefa_4/tarefa_4a_test
/Tarefa_4/tarefa_4b_test